.login{
    border: 1px solid rgb(65, 64, 64);
    padding: 50px 0px 50px 0px;
    background-color: black;

}
.login-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form form input{
    margin: 15px;
    width: 60%;
    padding: 10px;
    border: 1px solid rgb(65, 64, 64);
}
.login-form form button{
   width: 60%; 
   padding: 5px;
   background-image: linear-gradient(to top, rgba(5, 5, 5, 0.926), rgb(65, 65, 65));
   color: white;
   font-weight: 500;
   border: 1px solid rgb(65, 64, 64);
}
.login-form form button:hover{
    background-image: linear-gradient(to top, rgb(65, 65, 65),rgba(5, 5, 5, 0.926) );  
}

.terms-section{
    margin-top: 40px;
}
.terms-section {
    text-align: right;  
}
.terms-section button{
    margin: 20px;
    width: 50%;
    padding: 5px 3px 5px 3px;
    background-color: transparent;
    color: rgb(121, 121, 121);
    border: 1px solid rgb(65, 64, 64);
}
.terms-section button:hover{
    color: white;
    transition: color 0.4s ease-in-out;
}
.sign-icon{
    font-size: 20px;
    color: cyan;
    margin-right: 20px;
}
.sign-icon:hover{
    cursor: pointer;
}
.google-button{
    width: 30%; 
   padding: 5px;
   color: white;
   font-weight: 500;
   border: 1px solid rgb(65, 64, 64);
    background-image: linear-gradient(to top, rgba(5, 5, 5, 0.926), rgb(65, 65, 65));
}
.google-button:hover{
    background-image: linear-gradient(to top, rgb(65, 65, 65),rgba(5, 5, 5, 0.926) );
}