.update-news{
    background-color: black;
    padding: 30px;
}
.team-contact input{
    width: 70%;
    padding: 8px;
}
.team-contact button{
    width: 10%;
    padding: 9px;
    background-image: linear-gradient(to bottom, rgba(51, 51, 51, 0.974), rgb(16, 15, 15));
    color: white;
}