.post-section{
    margin-bottom: 20px;
}
.post-section:hover{
    cursor: pointer;
}
.post-img{
    width: 60%;
    margin-left: 15px;
}
.post-img:hover{
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}